/* * * * * * * * * * Fonts * * * * * * * * * */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&display=swap');

/* * * * * * * * * * Colors * * * * * * * * * */

:root {
    --color-blue: #C7DDEA;
    --color-orange: #F17949;
    --color-yellow: #FAB131;
}

/* * * * * * * * * * CSS Resets * * * * * * * * * */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* * * * * * * * * * General settings * * * * * * * * * */

ul {
    list-style: none;
}

body {
    font-family:'Fira Sans', sans-serif;
    font-size: 16px;
    max-width: 62em;
    margin: 0 auto;
    background-color: #E5E5E5;
}

/* * * * * * * * * * Header * * * * * * * * * */

.header-container {
    height: 35em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box-1 box-2"
    "box-1 box-3"
}

.box-1 {
    background-color: var(--color-blue);
    grid-area: box-1;
}

.box-1-content {
    display: flex;
    flex-direction: column;
    margin: 4.5em 5em 0px 6.5em;
}

.img-family-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: -3.8em;
    margin-right: 0.6em;
}

.family {
    width: 17.9em;
}

.box-1-heading {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.6em;
    line-height: 1.1em;
    letter-spacing: -2%;
    width: 314px;
    height: 101px;
}

.box-1-text {
    font-size: 0.9em;
    line-height: 1.4em;
    width: 18em;
    height: 6em;
    margin-bottom: 3em;
}

.box-1-price {
    color: #fff;
}

.btn {
    background-color: #fff;
    border: none;
    border-radius: 8em;
    padding: 1.3em 2.8em 1.3em 2.8em;
    width: 14em;
    height: 4em;
    margin-left: 9em;
    font-size: 0.7em;
    text-transform: uppercase;
}

.box-2 {
    background-color: var(--color-orange);
    grid-area: box-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-3 {
    background-color: var(--color-yellow);
    grid-area: box-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-content {
    width: 12.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.box-text {
    font-size: 0.7em;
}

.box-heading {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2em;
    color: #fff;
}



/* * * * * * * * * * Nav bar * * * * * * * * * */

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 42em;
    height: 4em;
    margin: 0 auto;
}

.item-link {
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    opacity: 40%;
}

.item-link:hover {
    color: #000;
    opacity: 100%;
}

.bold {
    opacity: 100%;
}

/* * * * * * * * * * Main * * * * * * * * * */

/* * * Top-container * * */

.top-content {
    height: 38.3em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "top-content-heading top-content-text"
    "content-btn top-content-text"
} 

.top-content-heading {
    grid-area: top-content-heading;
    width: 8em;
    height: 5em;
    margin: 2em 0 0 2.5em;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.6em;
    line-height: 1.1em;
    letter-spacing: -2%;
    color: #fff;
}

.top-content-text {
    grid-area: top-content-text;
    width: 18em;
    height: 5em;
    font-size: 0.9em;
    line-height: 1.4em;
    margin: 6em auto;
}

.content-btn {
    grid-area: content-btn;
}

/* * * Cards * * */

.main-container {
    height: 80em;
    position: relative;
}

.main-container::before {
    content: "";
    background-color: #A9A19E;
    height: 38em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    z-index: -1;
}

.main-container::after {
    content: "";
    background-color: var(--color-yellow);
    height: 42em;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.top-container {
    width: 100%;
    height: 28em;
}

.cards {
    display: flex;
    justify-content: center;
}

.card-item {
    background-color: #fff;
    width: 16em;
    height: 19.2em;
    margin: 1.2em;
    border-radius: 0.3em;
}
    
.card-img-1, .card-img-2, .card-img-3 {
    width: 14.5em;
    height: 9.3em;
    border-radius: 0.2em;
    margin-top: -2em;
    margin-left: 0.75em;
    margin-right: 0.75em;
} 

.card-img-1 {
    background-color: var(--color-blue);
    padding-top: 0.6em;
}

.card-img-2 {
    background-color: var(--color-yellow);
    padding-top: 0.6em;
}

.card-img-3 {
    background-color: var(--color-orange);
    padding-top: 0.6em
}

.card-heading {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 0.9em 0;
}

.card-text {
    padding: 0 20px 20px 20px;
    font-size: 0.7em;
    line-height: 1.5em;
    text-align: center;
}


/* * * Bottom container * * */

.bottom-container {
    width: 100%;
    height: 33em;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28em;
    margin: 3em auto;
    text-align: center;
}

.bottom-content-heading {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.6em;
    line-height: 1.1em;
    letter-spacing: -2%;
    color: #fff;
    text-align: center;
    margin-bottom: 0.9em;
}

/* * * * * * * * * * Main - Six steps container * * * * * * * * * */

.container-step {
    height: 42.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "step-0 step-1 step-2"
    "step-3 step-4 step-5"
}

.step-0 {
    background-color: var(--color-blue);
    height: 21.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-0-heading {
    width: 5em;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.6em;
    line-height: 1.1em;
    letter-spacing: -2%;
    color: #000;
    text-align: center;
}

.step-1 {
    background-color: #fff;
    height: 21.25em;
   
}

.step-2 {
    background-color: #EBEBEB;
    height: 21.25em;
}

.step-3 {
    background-color: #fff;
    height: 21.25em;
}

.step-4 {
    background-color: var(--color-orange);
    height: 21.25em;
}

.step-5 {
    background-color: #fff;
    height: 21.25em;
}

.step-number {
    text-align: left;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2.2em;
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: left;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0;
}

.step-text {
    text-align: center;
    margin-top: 5.5em; 
}


/* * * * * * * * * * Footer * * * * * * * * * */

.footer-box-one {
    height: 4.2em;
    background-color: #A9A19E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-tex {
    font-size: 1em;
}

.footer-box-two {
    height: 21em;
    background-color: #777574;
}


/* * * * * * * * * * Media screen 550px * * * * * * * * * */

@media screen and (max-width:550px){
   
   /* * * Header * * */

    .header-container {
        height: 85em;
        display: flex;
        flex-direction: column;
    }

    .box-1 {
        height: 45em;
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box-1-content {
        margin: 2em;
    }

    .box-1-text {
        font-size: 0.85em;
        width: 24em;
        margin-bottom: 1em;
      
    }

    .box-2 {
        height: 20em;
    }
     
    .box-3 {
        height: 20em;
    } 

    .img-family-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-top: 5em;
    }

    .family {
        width: 21.5em;
    }

    .btn-family {
        margin-left: 3em;
    }

    /* * * Nav * * */

    .nav-menu {
        display: none;
    }

    /* * * Main * * */

    .top-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-content-heading {
        margin-top: 1em;
        margin-right: auto;
        margin-left: auto;
    }

    .top-content-text {
        width: 23em;
        margin-top: -3em;
        margin-right: auto;
        margin-left: auto;
    }

    .content-btn {
        display: none;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-img-1, .card-img-2, .card-img-3 {
        margin-top: -1em;
    } 

    .main-container {
        height: 130em; 
    }

    .main-container::before {
        height: 96em;
    }

    .main-container::after {
        height: 34em;
    }

    .bottom-content {
        margin: 5.6em auto;
        width: 20em;
    }

    /* * * Six steps container * * */

    .container-step {
        height: 66em;
        display: flex;
        flex-direction: column;
    }

    .step-text {
        margin-top: 0em;
        }

    .step-0, .step-1, .step-2, .step-3, .step-4, .step-5 {
        height: 11em;
    }

    /* * * Footer * * */

    .footer-box-one {
        display: none;
    }

    .footer-box-two {
        height: 14em;
    }

}






